@import url(./normalize.css);

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

video {
    max-width: 700px;
}

nav {
    z-index: 1;
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid grey;
    max-height: 83px;
}

button {
    cursor: pointer;
}

header {
    padding-top: 83px;
}

main {
    padding-top: 83px;
    padding-bottom: 83px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

label {
    font-size: 12px;
}

section {
    display: none;
}

img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    display: flex;
    gap: 19px;
    flex-direction: column;
}

.form-title,
.form-sub {
    color: black;
}

.form-title {
    font-size: 26px;
}

.form-sub {
    font-size: 16px;
}

.form-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: #6fee91;
    border-radius: 20px;
    padding: 30px 50px 30px 50px;
    gap: 20px;
}

.form-input {
    max-height: 60px;
    border-radius: 10px;
    border: 1px solid #DADADA;
    width: 251px;
    padding: 15px 24px 16px 28px;
}

.fi-alt {
    border-radius: 10px 0 0 10px;
}

.form-input-drop {
    background: white;
    position: relative;
    cursor: pointer;
}

.form-info-group {
    gap: 19px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.form-info-wrapper {
    flex-wrap: wrap;
    display: flex;
    gap: 19px;
}

.form-btn {
    width: 225px;
    border-radius: 0 10px 10px 0;
    height: 60px;
    border: 1px solid #DADADA;
    padding: 20px 67px;
    font-size: 15px;
    font-weight: 600;
    color: blue;

}

.form-input:focus {
    outline: 1px solid #0e3c6c7f;
}

.fig-linked {
    display: flex;
}

.dropdown-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service-select {
    cursor: pointer;
}

::placeholder,
.service-select {
    color: #1C1C1C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    min-width: 100px;
}

.service-list {
    z-index: 1;
    background: white;
    display: none;
    top: 63px;
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
    padding-top: 18.83px;
    padding-bottom: 18.83px;
    width: 208px;
}

.error {
    bottom: -20px !important;
    left: 0;
    display: none;
    position: absolute;
    bottom: 0;
    color: red;
    font-size: 12px;
}

.service-name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-left: 14px;
    cursor: pointer;
    padding: 10px;
}

.service-list-item:hover {
    background: #3172B9;

    .service-name {
        color: white;
    }

}

.submit-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 9px;
}

.policy-agree * {
    cursor: pointer;
}

.policy-agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.img-mod {
    width: auto;
    border: none;
    transition: 0.5s;
}

.img-wrapper {
    width: 250px;
    height: 250px;
}

.container {
    max-width: 1140px;
    margin-left: 150px;
    margin-right: 150px;

}

.nav-wrapper {
    margin: 30px 0;
}

a:hover,
.actual-page {
    color: rgb(70, 135, 193);
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    border-left: 1px solid rgba(128, 128, 128, 0.493);
    border-right: 1px solid rgba(128, 128, 128, 0.493);
    outline: none;
}

.active {
    display: block !important;
}

.actual-section {
    display: block;
}

.panel {
    padding: 25px 25px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-left: 1px solid rgba(128, 128, 128, 0.493);
    border-right: 1px solid rgba(128, 128, 128, 0.493);
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}

.panel-info h3 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.panel-info p {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.banner {
    height: 420px;
    background-image: url(../image/picture/service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.banner h1 {
    font-size: 46px;
}

.banner-content {
    background-color: #4444447d;
    height: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.content {
    flex-grow: 1;
    max-width: 820px;
}

.first-child {
    border-top: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 20px 20px 0 0;
}

.panel-content {
    display: flex;
    gap: 25px;
}

.panel-info {
    max-width: 395px;
}

.bread {
    justify-content: center;
}

.tooltip-text {
    top: -100px;
    left: 60%;
    text-transform: none !important;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.pulse-button:hover .tooltip-text {
    visibility: visible;
}

.cool-button {
    background: rgb(154, 173, 255);
    padding: 25px 100px;
    color: white;
    position: absolute;
}

.cool-button,
.pulse-button {
    margin-top: 50px;
    border: none;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.pulse-button {
    color: black;
    padding: 25px;
    position: relative;
    display: block;
    text-transform: uppercase;
    background: yellow;
    animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(.9);
    }
}

#map {
    width: 800px;
    height: 600px;
}